.button-pink {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    /* Shadow/Button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: var(--filtrer-b-color);
    height: 50px;
    align-items: center;
    display: inline-flex;
    text-align: center;
& p {
    color: var(--filtrer-b-color);
    padding: 13px 18px;
    font-size: 16px;
    line-height: 19px;
}
&:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  filter: brightness(1.2);
  transition: all 0.3s ease-in-out 0.3s;
}
}

.button-fonctionnement {
    display: flex;
    align-items: baseline;
    background: var(--main-bg-color);
    /* Shadow/Instructions */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: var(--filtrer-b-color);
    gap: 27px;
    width: 100%;
    @media (min-width: 1024px) {
        justify-content: initial;
    }
    @media (min-width: 1024px){
    & h3 {
        padding: 10px 0px;
    }
}
& .fa-solid{
    color: darkgray;
}
}


