.menu {
    width: 100%;
    background: var(--main-bg-color);
    border-radius: 45px 45px 0px 0px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
& p{
    text-overflow: ellipsis;
    overflow:hidden ;
}
& a{
    font-size: 15px;
    padding-right: 10px;
}
&-title {
    display: flex;
    align-items: center;
    padding-top: 32px;
    gap: 50px;
    @media (min-width: 1024px)  {
        justify-content: center;
    }
}
&-title .card-logo{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
& h1 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-size: 28px;
    line-height: 41px;
    padding-left: 17px;
    margin: 0;
    @media (min-width: 1024px)  {
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 1024px)  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
}

.entrees {
    animation: animation-menu 1.5s;
  }
  
  .plats {
    animation: animation-menu 2.5s;
  }
  
  .desserts {
    animation: animation-menu 3.5s;
  }
.menus-entrees-plats-desserts {
    display: flex;
    flex-direction: column;
    padding: 42px 13px 0px 13px;
    gap: 40px;
    @media (min-width: 1024px)  {
        padding: 79px 210px 0px 210px;
    }
}

.menus-part-title h2 {
    font-weight: 300;
    font-size: 16px;
    border-bottom: 3px solid var(--main-d-color);
    padding-bottom: 5px;
    margin-bottom: 12px;
    width: 40px;
}


.section-menu-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
& .card {
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
}

.card {
    background: var(--filtrer-b-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 15px;
    height: 69px;
&-content {
    gap: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
&-content h3 {
    margin: 12px 0px 5px 15px;
}
&-content p {
    margin: 0px 0px 0px 15px;
    font-size: 15px;
    padding-right: 10px;
}
&-text {
    display: flex;
    justify-content: space-between;
}
  }


.cards-restaurants {
    background: var(--filtrer-b-color);
    /* Shadow/Card */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    height: auto;
    position: relative;
& img {
    width: 100%;
    object-fit: cover;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    @media (min-width: 1024px){
        height: 160px;
    }
}
& .card-title {
    font-size: 18px;
    line-height: 21px;
    color: var(--main-b-color);
    padding: 16px 15px 5px 15px;
    margin: 0;
}
& .card-subtitle {
    font-size: 17px;
    line-height: 20px;
    padding: 0px 15px;
    margin: 0px;
}
& .card-logo {
    display: flex;
    justify-content: flex-end;
    top: -40px;
    position: relative;
    right: 25px;
}
}

.restaurants {
    background: var(--main-bg-color);
    padding: 54px 15px 66px 15px;
    @media (min-width: 1024px)  {
        padding: 80px 180px 30px 180px;
    }
}
    .grille-restaurants {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        @media (min-width: 1024px)  {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
        }
    }