.menu {
    width: 100%;
    background: var(--main-bg-color);
    border-radius: 45px 45px 0px 0px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
&.p{
    text-overflow: ellipsis;
    overflow:hidden ;
}
&.-title {
    display: flex;
    align-items: center;
    padding-top: 32px;
    gap: 50px;
}
&.-title .card-logo{
    display: flex;
    justify-content: flex-end;
    top: -10px;
    position: relative;
}
&.h1 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-size: 28px;
    line-height: 41px;
    padding-left: 17px;
    margin: 0;
}
&.-part-title h2 {
    font-weight: 300;
    font-size: 16px;
    border-bottom: 3px solid var(--main-d-color);
    padding-bottom: 5px;
    margin-bottom: 12px;
    width: 40px;
}
&.-entrees-plats-desserts {
    display: flex;
    flex-direction: column;
    padding: 42px 13px 0px 13px;
    gap: 40px;
}
}

.new p{
    font-size: 14px;
}
.section-menu-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-menu-cards .card {
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.card-content p, .card-content h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }
  .card {
    background: var(--filtrer-b-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 15px;
    height: 69px;
}

.card-content {
    gap: 5px;
    width: 100%;
}

.card-content h3 {
    margin: 12px 0px 5px 15px;
}

.card-content p {
    margin: 0px 0px 0px 15px;
    font-size: 15px;
    padding-right: 10px;
}

.card-text {
    display: flex;
    justify-content: space-between;
}
.cards-restaurants {
    background: var(--filtrer-b-color);
    /* Shadow/Card */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    height: auto;
    position: relative;
}

.grille-restaurants {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cards-restaurants img {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 15px 15px 0px 0px;
}

.cards-restaurants .card-title {
    font-size: 18px;
    line-height: 21px;
    color: var(--main-b-color);
    padding: 4px 15px;
    margin: 0;
}

.cards-restaurants .card-subtitle {
    font-size: 17px;
    line-height: 20px;
    padding: 0px 15px;
    margin: 5px 0px 12px 0px;
}

.cards-restaurants .card-logo {
    display: flex;
    justify-content: flex-end;
    top: -50px;
    position: relative;
    right: 25px;
}

