@keyframes loader{
    100% {
            transform: scaley(0);
        }
        0% {
            transform: scaley(1);
        }
    }

    @keyframes check-mark-button__appear {
        0% {
            opacity: 0;
            margin-right: -4rem;
        }
        100% {
            opacity: 1;
            margin-right: 0;
        }
    }
    @keyframes reverse__check-mark-button__appear {
        0% {
            opacity: 1;
            margin-right: 0;
        }
        100% {
            opacity: 0;
            margin-right: -4rem;
        }
    }

    @keyframes animation-menu {
        0% {
          transform: translateX(150px);
          opacity: 0;
        }
        12%{
            opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }